.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#image1 {
    filter: grayscale(100%);
}

#image2 {
    filter: blur(4px);
    transition: 0.5s;
}

#image2:hover {
    filter: unset;
}

#image3 {
    filter: contrast(1000%) invert(100%);
}

@keyframes color-rotate {
    0%{
        filter: hue-rotate(0deg);
    }
   100% {
        filter: hue-rotate(360deg)
    }
}

#image4 {
    animation: color-rotate 4s;
    animation-iteration-count: infinite;
}

#div1 {
    background-color: aqua;
    color: orange;
    width: 200px;
    height: 200px;
    filter: blur(4px) invert(10);
}

#div2 {
    font-size: 70px;
    filter: drop-shadow(0px 10px 3px red);
}
