.container1 {
    background-image: url("background.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container2 {
    background-image: linear-gradient(to bottom right, red, orange, yellow);
    height: 400px;
}